{{!
    @template theme_minusone/nav-drawer


    Example context (json): {}
}}
<div id="nav-drawer" data-region="drawer" class="d-print-none moodle-has-zindex page-container-uwi {{uwicampus}} {{^navdraweropen}}closed{{/navdraweropen}}" aria-hidden="{{#navdraweropen}}false{{/navdraweropen}}{{^navdraweropen}}true{{/navdraweropen}}" tabindex="-1">
    {{> theme_minusone/flat_navigation }}
</div>



<style>
.header-uwi {
   margin:0;
   padding: 0;
}

#nav-drawer nav a.active{
   border:transparent;
}

.header-uwi.OC,
#nav-drawer.OC nav a.active,
div.login-uwi.OC,
#page-footer.OC {
   background-color: rgba(191, 87, 0, 0.90)!important;      // OC campus colour
}
.header-uwi.STA,
#nav-drawer.STA nav a.active,
div.login-uwi.STA,
#page-footer.STA  {
   background-color: rgba(0, 94, 184, 0.90)!important;   // STA campus colour
}
.header-uwi.MON,
#nav-drawer.MON nav a.active,
div.login-uwi.MON,
#page-footer.MON  {
   background-color: rgba(137, 0, 0, 0.90)!important;      // MON campus colour
}
.header-uwi.CAV,
#nav-drawer.CAV nav a.active,
div.login-uwi.CAV,
#page-footer.CAV  {
   background-color: rgba(242, 169, 0, 0.90)!important;    // CAV campus colour
}
.header-uwi.XCM,
#nav-drawer.XCM nav a.active,
div.login-uwi.XCM,
#page-footer.XCM  {
   background-color: rgba(0, 122, 82, 0.90)!important;     // Cross campus colour
}

.header-uwi img,
.login-uwi img {
   padding: 10px 15px;
   height:100%;
   max-width:100%;
}

.header-uwi, .header-padding-uwi, .login-uwi {
   height:96px!important;
}

.page-container-uwi {
   margin-top:96px!important;
   transition: margin 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

#page.page-container-uwi {
   margin-top: 146px!important;
}

#nav-drawer.page-container-uwi {
   padding-top:15px!important;
}


#nav-drawer nav.list-group {
   margin-right:4px;
}

.slideup, .slidedown {
   max-height: 0;
   overflow-y: hidden;
   transition: max-height 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.slidedown {
   max-height: 96px ;
}

.page-container-uwi.slideuptrack {
   margin-top:0px!important;
}

.page-container-uwi.slidedowntrack {
   margin: 96px!important;
}

.header-padding-uwi.slidedown {
   height:111px!important;
}


.navbar .site-name.OC,
[data-action=toggle-drawer].OC .icon{
   color: rgba(191, 87, 0, 1)!important;
}
.navbar .site-name.STA,
[data-action=toggle-drawer].STA .icon{
color: rgba(0, 94, 184, 1)!important;
}
.navbar .site-name.MON,
[data-action=toggle-drawer].MON .icon{
color: rgba(137, 0, 0, 1)!important;
}
.navbar .site-name.CAV,
[data-action=toggle-drawer].CAV .icon{
color: rgba(242, 169, 0, 1)!important;
}
.navbar .site-name.XCM,
[data-action=toggle-drawer].XCM .icon{
color: rgba(0, 122, 82, 1)!important;
}

#nav-drawer::-webkit-scrollbar, div.block_settings div.content::-webkit-scrollbar, div.block_calendar_upcoming div.content::-webkit-scrollbar, div.block_online_users div.content::-webkit-scrollbar, div.block_navigation div.content::-webkit-scrollbar, div.block_recent_activity div.content::-webkit-scrollbar {
   -webkit-appearance: none;
   width: 7px;
   height: 7px;
}

#nav-drawer::-webkit-scrollbar-thumb, div.block_settings div.content::-webkit-scrollbar-thumb, div.block_calendar_upcoming div.content::-webkit-scrollbar-thumb, div.block_online_users div.content::-webkit-scrollbar-thumb, div.block_navigation div.content::-webkit-scrollbar-thumb, div.block_recent_activity div.content::-webkit-scrollbar-thumb {
   border-radius: 5px;
   border: 1px solid rgba(185, 185, 185, .5);
}

#nav-drawer:-webkit-scrollbar-track, div.block_settings div.content::-webkit-scrollbar-track, div.block_calendar_upcoming div.content::-webkit-scrollbar-track, div.block_online_users div.content::-webkit-scrollbar-track, div.block_navigation div.content::-webkit-scrollbar-track, div.block_recent_activity div.content::-webkit-scrollbar-track {
   border-radius: 7px;
}

#nav-drawer.OC::-webkit-scrollbar-thumb, div.block_settings div.content::-webkit-scrollbar-thumb, div.block_calendar_upcoming div.content::-webkit-scrollbar-thumb, div.block_online_users div.content::-webkit-scrollbar-thumb, div.block_navigation div.content::-webkit-scrollbar-thumb, div.block_recent_activity div.content::-webkit-scrollbar-thumb {
   background-color: rgba(191, 87, 0, 1);
}

#nav-drawer.OC:-webkit-scrollbar-track, div.block_settings div.content::-webkit-scrollbar-track, div.block_calendar_upcoming div.content::-webkit-scrollbar-track, div.block_online_users div.content::-webkit-scrollbar-track, div.block_navigation div.content::-webkit-scrollbar-track, div.block_recent_activity div.content::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(191, 87, 0, 0.3);
}

#nav-drawer.STA::-webkit-scrollbar-thumb, div.block_settings div.content::-webkit-scrollbar-thumb, div.block_calendar_upcoming div.content::-webkit-scrollbar-thumb, div.block_online_users div.content::-webkit-scrollbar-thumb, div.block_navigation div.content::-webkit-scrollbar-thumb, div.block_recent_activity div.content::-webkit-scrollbar-thumb {
   background-color: rgba(0, 94, 184, 1);
}

#nav-drawer.STA:-webkit-scrollbar-track, div.block_settings div.content::-webkit-scrollbar-track, div.block_calendar_upcoming div.content::-webkit-scrollbar-track, div.block_online_users div.content::-webkit-scrollbar-track, div.block_navigation div.content::-webkit-scrollbar-track, div.block_recent_activity div.content::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(0, 94, 184, 0.3);
}

#nav-drawer.MON::-webkit-scrollbar-thumb, div.block_settings div.content::-webkit-scrollbar-thumb, div.block_calendar_upcoming div.content::-webkit-scrollbar-thumb, div.block_online_users div.content::-webkit-scrollbar-thumb, div.block_navigation div.content::-webkit-scrollbar-thumb, div.block_recent_activity div.content::-webkit-scrollbar-thumb {
   background-color: rgba(137, 0, 0, 1);
}

#nav-drawer.MON:-webkit-scrollbar-track, div.block_settings div.content::-webkit-scrollbar-track, div.block_calendar_upcoming div.content::-webkit-scrollbar-track, div.block_online_users div.content::-webkit-scrollbar-track, div.block_navigation div.content::-webkit-scrollbar-track, div.block_recent_activity div.content::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(137, 0, 0, 0.3);
}

#nav-drawer.CAV::-webkit-scrollbar-thumb, div.block_settings div.content::-webkit-scrollbar-thumb, div.block_calendar_upcoming div.content::-webkit-scrollbar-thumb, div.block_online_users div.content::-webkit-scrollbar-thumb, div.block_navigation div.content::-webkit-scrollbar-thumb, div.block_recent_activity div.content::-webkit-scrollbar-thumb {
   background-color: rgba(242, 169, 0, 1);
}

#nav-drawer.CAV:-webkit-scrollbar-track, div.block_settings div.content::-webkit-scrollbar-track, div.block_calendar_upcoming div.content::-webkit-scrollbar-track, div.block_online_users div.content::-webkit-scrollbar-track, div.block_navigation div.content::-webkit-scrollbar-track, div.block_recent_activity div.content::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(242, 169, 0, 0.3);
}

#nav-drawer.XCM::-webkit-scrollbar-thumb, div.block_settings div.content::-webkit-scrollbar-thumb, div.block_calendar_upcoming div.content::-webkit-scrollbar-thumb, div.block_online_users div.content::-webkit-scrollbar-thumb, div.block_navigation div.content::-webkit-scrollbar-thumb, div.block_recent_activity div.content::-webkit-scrollbar-thumb {
   background-color: rgba(0, 122, 82, 1);
}

#nav-drawer.XCM:-webkit-scrollbar-track, div.block_settings div.content::-webkit-scrollbar-track, div.block_calendar_upcoming div.content::-webkit-scrollbar-track, div.block_online_users div.content::-webkit-scrollbar-track, div.block_navigation div.content::-webkit-scrollbar-track, div.block_recent_activity div.content::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(0, 122, 82, 0.3);
}


.course-content h1, .course-content h2, .course-content h3, .course-content h4, .course-content h5, .course-content h6,
.course-content h1 a, .course-content h2 a, .course-content h3 a, .course-content h4 a, .course-content h5 a, .course-content h6 a {
   color: rgb(51, 63, 72);
   -webkit-transition: color 300ms linear;
   -moz-transition: color 300ms linear;
   -o-transition: color 300ms linear;
   -ms-transition: color 300ms linear;
   transition: color 300ms linear;
}

.page-header-headings.OC h1, .course-content.OC h1, .course-content.OC h2, .course-content.OC h3, .course-content.OC h4, .course-content.OC h5, .course-content.OC h6,
.course-content.OC h1 a, .course-content.OC h2 a, .course-content.OC h3 a, .course-content.OC h4 a, .course-content.OC h5 a, .course-content.OC h6 a {
   color: rgba(191, 87, 0, 1);
}

.page-header-headings.STA h1, .course-content.STA h1, .course-content.STA h2, .course-content.STA h3, .course-content.STA h4, .course-content.STA h5, .course-content.STA h6,
.course-content.STA h1 a, .course-content.STA h2 a, .course-content.STA h3 a, .course-content.STA h4 a, .course-content.STA h5 a, .course-content.STA h6 a {
   color: rgba(0, 94, 184, 1);
}

.page-header-headings.MON h1, .course-content.MON h1, .course-content.MON h2, .course-content.MON h3, .course-content.MON h4, .course-content.MON h5, .course-content.MON h6,
.course-content.MON h1 a, .course-content.MON h2 a, .course-content.MON h3 a, .course-content.MON h4 a, .course-content.MON h5 a, .course-content.MON h6 a {
   color: rgba(137, 0, 0, 1);
}

.page-header-headings.CAV h1, course-content.CAV h1, .course-content.CAV h2, .course-content.CAV h3, .course-content.CAV h4, .course-content.CAV h5, .course-content.CAV h6,
.course-content.CAV h1 a, .course-content.CAV h2 a, .course-content.CAV h3 a, .course-content.CAV h4 a, .course-content.CAV h5 a, .course-content.CAV h6 a {
   color: rgba(242, 169, 0, 1);
}

.page-header-headings.XCM h1, .course-content.XCM h1, .course-content.XCM h2, .course-content.XCM h3, .course-content.XCM h4, .course-content.XCM h5, .course-content.XCM h6,
.course-content.XCM h1 a, .course-content.XCM h2 a, .course-content.XCM h3 a, .course-content.XCM h4 a, .course-content.XCM h5 a, .course-content.XCM h6 a {
   color: rgba(0, 122, 82, 1);
}

#page-footer .campus-footer{
   border-color: rgba(100, 100, 100, 0.80)!important;
}

#page-footer.OC .campus-footer{
   border-color: rgba(191, 87, 0, 0.80)!important;
}
#page-footer.STA .campus-footer{
   border-color: rgba(0, 94, 184, 0.80)!important;
}
#page-footer.MON .campus-footer{
   border-color: rgba(137, 0, 0, 0.80)!important;
}
#page-footer.CAV, #page-footer.CAV a,
#page-footer.CAV .campus-footer, #page-footer.CAV .campus-footer a{
   color: #000!important;
}
#page-footer.CAV .campus-footer{
   border-color: rgba(242, 169, 0, 0.80)!important;
}
#page-footer.XCM .campus-footer{
   border-color: rgba(0, 122, 82, 0.80)!important;
}


#nav-drawer.OC .list-group-item[data-key="mycourses"][data-isexpandable="1"],
#nav-drawer.OC .list-group-item[data-key="localboostnavigationcoursesections"][data-isexpandable="1"],
#nav-drawer.OC .list-group-item[data-key="localboostnavigationactivities"][data-isexpandable="1"],
#nav-drawer.OC .list-group-item[data-key^="localboostnavigationcustom"][data-isexpandable="1"] {
    font-weight: 600;
    color: rgba(191, 87, 0, 0.90)!important;
}
#nav-drawer.OC .list-group-item[data-key="mycourses"][data-isexpandable="1"][data-collapse="0"],
#nav-drawer.OC .list-group-item[data-key="localboostnavigationcoursesections"][data-isexpandable="1"][data-collapse="0"],
#nav-drawer.OC .list-group-item[data-key="localboostnavigationactivities"][data-isexpandable="1"][data-collapse="0"],
#nav-drawer.OC .list-group-item[data-key^="localboostnavigationcustom"][data-isexpandable="1"][data-collapse="0"] {
    font-weight: 600;
    background-color: rgba(191, 87, 0, 0.90)!important;
    color: #fff!important;
}


#nav-drawer.STA .list-group-item[data-key="mycourses"][data-isexpandable="1"],
#nav-drawer.STA .list-group-item[data-key="localboostnavigationcoursesections"][data-isexpandable="1"],
#nav-drawer.STA .list-group-item[data-key="localboostnavigationactivities"][data-isexpandable="1"],
#nav-drawer.STA .list-group-item[data-key^="localboostnavigationcustom"][data-isexpandable="1"] {
    font-weight: 600;
    color: rgba(0, 94, 184, 0.80)!important;
}
#nav-drawer.STA .list-group-item[data-key="mycourses"][data-isexpandable="1"][data-collapse="0"],
#nav-drawer.STA .list-group-item[data-key="localboostnavigationcoursesections"][data-isexpandable="1"][data-collapse="0"],
#nav-drawer.STA .list-group-item[data-key="localboostnavigationactivities"][data-isexpandable="1"][data-collapse="0"],
#nav-drawer.STA .list-group-item[data-key^="localboostnavigationcustom"][data-isexpandable="1"][data-collapse="0"] {
    font-weight: 600;
    background-color: rgba(0, 94, 184, 0.80)!important;
    color: #fff!important;
}

#nav-drawer.MON .list-group-item[data-key="mycourses"][data-isexpandable="1"],
#nav-drawer.MON .list-group-item[data-key="localboostnavigationcoursesections"][data-isexpandable="1"],
#nav-drawer.MON .list-group-item[data-key="localboostnavigationactivities"][data-isexpandable="1"],
#nav-drawer.MON .list-group-item[data-key^="localboostnavigationcustom"][data-isexpandable="1"] {
    font-weight: 600;
    color: rgba(137, 0, 0, 0.80)!important;
}
#nav-drawer.MON .list-group-item[data-key="mycourses"][data-isexpandable="1"][data-collapse="0"],
#nav-drawer.MON .list-group-item[data-key="localboostnavigationcoursesections"][data-isexpandable="1"][data-collapse="0"],
#nav-drawer.MON .list-group-item[data-key="localboostnavigationactivities"][data-isexpandable="1"][data-collapse="0"],
#nav-drawer.MON .list-group-item[data-key^="localboostnavigationcustom"][data-isexpandable="1"][data-collapse="0"] {
    font-weight: 600;
    background-color: rgba(137, 0, 0, 0.80)!important;
    color: #fff!important;
}

#nav-drawer.CAV .list-group-item[data-key="mycourses"][data-isexpandable="1"],
#nav-drawer.CAV .list-group-item[data-key="localboostnavigationcoursesections"][data-isexpandable="1"],
#nav-drawer.CAV .list-group-item[data-key="localboostnavigationactivities"][data-isexpandable="1"],
#nav-drawer.CAV .list-group-item[data-key^="localboostnavigationcustom"][data-isexpandable="1"] {
    font-weight: 600;
    color: rgba(242, 169, 0, 0.80)!important;
    color: #000!important;
}
#nav-drawer.CAV .list-group-item[data-key="mycourses"][data-isexpandable="1"][data-collapse="0"],
#nav-drawer.CAV .list-group-item[data-key="localboostnavigationcoursesections"][data-isexpandable="1"][data-collapse="0"],
#nav-drawer.CAV .list-group-item[data-key="localboostnavigationactivities"][data-isexpandable="1"][data-collapse="0"],
#nav-drawer.CAV .list-group-item[data-key^="localboostnavigationcustom"][data-isexpandable="1"][data-collapse="0"] {
    font-weight: 600;
    background-color: rgba(242, 169, 0, 0.80)!important;
    color: #fff!important;
}

#nav-drawer.XCM .list-group-item[data-key="mycourses"][data-isexpandable="1"],
#nav-drawer.XCM .list-group-item[data-key="localboostnavigationcoursesections"][data-isexpandable="1"],
#nav-drawer.XCM .list-group-item[data-key="localboostnavigationactivities"][data-isexpandable="1"],
#nav-drawer.XCM .list-group-item[data-key^="localboostnavigationcustom"][data-isexpandable="1"] {
    font-weight: 600;
    color: rgba(0, 122, 82, 0.80)!important;
}
#nav-drawer.XCM .list-group-item[data-key="mycourses"][data-isexpandable="1"][data-collapse="0"],
#nav-drawer.XCM .list-group-item[data-key="localboostnavigationcoursesections"][data-isexpandable="1"][data-collapse="0"],
#nav-drawer.XCM .list-group-item[data-key="localboostnavigationactivities"][data-isexpandable="1"][data-collapse="0"],
#nav-drawer.XCM .list-group-item[data-key^="localboostnavigationcustom"][data-isexpandable="1"][data-collapse="0"] {
    font-weight: 600;
    background-color: rgba(0, 122, 82, 0.80)!important;
    color: #fff!important;
}


.list-group-item[aria-expanded="0"],
.list-group-item[aria-expanded="1"] {
   transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}


@keyframes slideInDown {
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -88px, 0);
    transform: translate3d(0, -88px, 0);
  }


  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}



.list-group-item[data-key="mycourses"][data-isexpandable="1"]~.list-group-item[data-parent-key="mycourses"][data-hidden="0"],
.list-group-item[data-key="localboostnavigationcoursesections"][data-isexpandable="1"]~.list-group-item[data-parent-key="localboostnavigationcoursesections"][data-hidden="0"],
.list-group-item[data-key="localboostnavigationactivities"][data-isexpandable="1"]~.list-group-item[data-parent-key="localboostnavigationactivities"][data-hidden="0"],
.list-group-item[data-key^="localboostnavigationcustom"][data-isexpandable="1"]~.list-group-item[data-parent-key^="localboostnavigationcustom"][data-hidden="0"],
.list-group-item[data-key="mycourses"][data-isexpandable="1"]~.list-group-item[data-parent-key="mycourses"][data-hidden="1"],
.list-group-item[data-key="localboostnavigationcoursesections"][data-isexpandable="1"]~.list-group-item[data-parent-key="localboostnavigationcoursesections"][data-hidden="1"],
.list-group-item[data-key="localboostnavigationactivities"][data-isexpandable="1"]~.list-group-item[data-parent-key="localboostnavigationactivities"][data-hidden="1"],
.list-group-item[data-key^="localboostnavigationcustom"][data-isexpandable="1"]~.list-group-item[data-parent-key^="localboostnavigationcustom"][data-hidden="1"]{

   animation: slideInDown 0.3s;
}




</style>
