{{!
    @template theme_minusone/nav-drawer


    Example context (json): {}
}}
<div id="nav-drawer" data-region="drawer" class="d-print-none moodle-has-zindex {{^navdraweropen}}closed{{/navdraweropen}}" aria-hidden="{{#navdraweropen}}false{{/navdraweropen}}{{^navdraweropen}}true{{/navdraweropen}}" tabindex="-1">
   <div class="header-padding-uwi"></div>
    {{> theme_minusone/flat_navigation }}
</div>



<style>
.header-uwi {
   margin:0;
   padding: 0;
}

.header-uwi.OC {
   background-color: rgba(191, 87, 0, 0.90)!important;      // OC campus colour
}
.header-uwi.STA {
   background-color: rgba(0, 94, 184, 0.90)!important;   // STA campus colour
}
.header-uwi.MON {
   background-color: rgba(137, 0, 0, 0.90)!important;      // MON campus colour
}
.header-uwi.CAV {
   background-color: rgba(242, 169, 0, 0.90)!important;    // CAV campus colour
}
.header-uwi.XCM {
   background-color: rgba(0, 122, 82, 0.90)!important;     // Cross campus colour
}

.header-uwi img {
   padding: 10px 15px;
   height:100%;
   max-width:100%;
}

.header-uwi, .header-padding-uwi {
   height:96px!important;
}

#nav-drawer .header-padding-uwi {
   height:111px!important;
}


#nav-drawer nav.list-group {
   margin-right:4px;
}

.slideup, .slidedown {
   max-height: 0;
   overflow-y: hidden;
   transition: max-height 0.65s ease-in-out;
}
.slidedown {
   max-height: 96px ;
}

.header-padding-uwi.slidedown {
   height:111px!important;
}


.navbar .site-name.OC,
[data-action=toggle-drawer].OC .icon{
   color: rgba(191, 87, 0, 1)!important;
}
.navbar .site-name.STA,
[data-action=toggle-drawer].STA .icon{
color: rgba(0, 94, 184, 1)!important;
}
.navbar .site-name.MON,
[data-action=toggle-drawer].MON .icon{
color: rgba(137, 0, 0, 1)!important;
}
.navbar .site-name.CAV,
[data-action=toggle-drawer].CAV .icon{
color: rgba(242, 169, 0, 1)!important;
}
.navbar .site-name.XCM,
[data-action=toggle-drawer].XCM .icon{
color: rgba(0, 122, 82, 1)!important;
}

</style>
